#NewTask {
  text-align: center;
}

#login-input{
  width: 400px;
}
#readme-screenshot{
  width: 200px;
}

#oops{
  text-align: center;
  vertical-align: middle;
  margin: auto;
}

#edit-input{
  width: 400px;
}

#login-header{
  text-align: center
}

#Today {
  text-align: center;
  font-family: 'Hind Guntur', sans-serif;
}

#login-button {
  text-align: left;
}

#LoginForm {
  text-align: center;
}

#search-bar {
  text-align: center;
}

#search{
  margin-left:auto;
  margin-right:auto;
}

#TaskListTable{
  table-layout: fixed;
  width: 50%;
  margin-left:auto;
  margin-right:auto;
}

#Complete{
  text-align: center;
}

#Table-Delete-Header {
  text-align:center;
}

#Table-Cancel-Header {
  text-align:center;
}

#Delete-Icon {
  text-align:center;
}

#Cancel-Icon {
  text-align:center;
}
ui.category.search.item{
  margin-left:auto;
  margin-right:auto;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-body{
  background-color: green;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: blue;
    opacity: 1; /* Firefox */
}
